<style>
        html {
            height: 100%;
        }

        body {
            background-image: url(reading1.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
    </style>