/* CSS layout */
body {
	margin: 0;
	padding: 0;
}

#container {
	min-width: 200px;
}

#left_col {
	float: left;
	width: 200px;
}

#right_col {
	float: right;
	width: 200px;
}

#page_content {
	margin-right: 200px;
	margin-left: 200px;
	line-height:50px
}
